.git/**
.github/**
.gemini/**
.vscode/**
.vscode-test/**
.venv/**
task.md
__mocks__/**
docs/**
src/**
tests/**
images/icon.svg
eslint.config.mjs
jest.config.js
tsconfig.json
bunfig.toml
bun.lock
*.ts
*.map
src/**
tests/**
docs/**
__mocks__/**
.vscode/**
.playwright-mcp/**
.github/
node_modules/**
*.vsix
.gitignore
package-lock.json
jest.config.js
tsconfig.json
bunfig.toml
out/**/*.map
